<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
	<connectionString>
		<add name="WinConnection" connectionString="Source=KJLEE\\SQLEXPRESS2;Initial Catalog=MiniKMS;User ID=sa;Password=moLA12">
			
		</add>
	</connectionString>
	
	
	
	<appSettings>
		
	</appSettings>
	
	
	
	
	
</configuration>